:root {
  --bg-main: #f0f2f5;
  --bg-body: #fff;
  --color-txt: #000;
  --given-color: #000;
  --inserted-color: rgb(63, 83, 255);
  --filled-bg: #caf0f8;

  --white: #fff;
  --blue: #00aeef;
  --red: #e91e63;
  --black: #000;


  --nav-size: 70px;
  --sudoku-cell-size: 50px;

  --border-radius: 0px;

  --space-y: 20px;

  --gap: 0px;

  --font-size: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Lucida Console';
  /* height: 100vh; */
  background-color: var(--bg-body);
  overflow-x: hidden;
  user-select: none;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

input {
  font-family: "Potta One", cursive;
  border: 2px solid var(--bg-main);
  color: var(--color-txt);
}


a {
  text-decoration: none;
  color: unset;
}


nav {
  background-color: var(--bg-body);
  color: var(--color-txt);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 2px var(--bg-main);
  z-index: 99;
}

.nav-container {
  max-width: 1280px;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: var(--nav-size);
  font-size: var(--font-size-xl);
  color: var(--blue);
}

.main {
  height: 100vh;
  max-height: 100vh; 
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}

.screen {
  /* position: relative; */
  overflow: hidden;
  height: 100%;
  min-width: 400px;
}


.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen.active {
  transform: translateX(0);
}

.start-screen>*+* {
  margin-top: 20px;
}

.btn {
  height: 80px;
  width: 280px;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

span {
  white-space: nowrap;
}

.input-name {
  height: 80px;
  width: 280px;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--bg-main);
  padding: 20px;
  font-size: var(--font-size-lg);
  text-align: center;
}



.main-game {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.main-game.active {
  transform: translateX(0);
}

.main-sudoku-grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(9, auto);
}

.main-grid-cell {
  height: var(--sudoku-cell-size);
  width: var(--sudoku-cell-size);
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--blue);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}





.main-grid-cell:hover {
  background-color: rgb(220, 220, 220);
}

.main-grid-cell.highlighted {
  background-color: rgb(220, 220, 220);
}


.main-grid-cell.given {
  color: var(--given-color);
}

.main-grid-cell.inserted {
  color: var(--inserted-color);
}

.main-grid-cell.selected {
  background-color: var(--blue);
  color: var(--white);
}


.main-grid-cell.border-left {
  border-left: 2px solid var(--blue);
}

.main-grid-cell.border-right {
  border-right: 2px solid var(--blue);
}

.main-grid-cell.border-top {
  border-top: 2px solid var(--blue);
}

.main-grid-cell.border-bottom {
  border-bottom: 2px solid var(--blue)  ;
}





.numbers {
  margin-top: var(--space-y);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.number {
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  background-color: var(--bg-main);
  color: var(--color-txt);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.delete {
  background-color: var(--red);
  color: var(--white);
  height: var(--sudoku-cell-size);
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}




@media only screen and (max-width: 800px) {
  :root {
    --nav-size: 50px;

    --sudoku-cell-size: 30px;

    --border-radius: 5px;

    --space-y: 10px;

    --gap: 2px;

    --font-size: 1rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
  }

  .input-name,
  .btn {
    height: 50px;
  }

  .main-grid-cell.hover {
    border-width: 2px;
  }

  .screen {
    min-width: unset;
  }

  .main {
    height: 100vh;
    max-height: 100vh;
  }
}


@media only screen and (max-width: 600px) {
  :root {

    --font-size: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 1.4rem;
  }
}

.result-screen {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.result-screen.active {
  display: flex;
}

.result-screen.active div {
  animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}